DirectoryIndex index.php index.html
Options -Indexes
<FilesMatch "^(config|composer|package-lock|package\.json).*">
  Require all denied
</FilesMatch>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^data/ - [F,L]
RewriteRule ^app/ - [F,L]
</IfModule>
